#loggedInDropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 130px;
}

#loggedInDropdown #loginIcon {
  width: 30px;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
}

.footer-links {
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer-links .col-md-4 {
  border-left: 3px dotted blue;
}

.footer-rights {
  background-color: black;
}

.footer-rights small {
  color: blanchedalmond;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ticket-card:hover {
  background-color: #666;
}

.cart-items {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  background-color: coral;
  color: aliceblue;
  border-radius: 30%;
  border: 1px solid white;
}

/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  -webkit-transition: width 2s;
  transition: width 2s;
  background: rgba(172, 171, 170, 0.5);
  z-index: 1;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 2;
  background: #e7e2dd;
  padding: 1.5rem;
  -webkit-transition: width 2s;
  transition: width 2s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.showCart {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 769px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}

.div-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.div-amount .item-amount {
  text-align: center;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

/*---------- End of Cart Item -------------------- */
.cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
/*# sourceMappingURL=style.css.map */