// Variables
$mainTransition: all 3s;
$mainSpacing: 0.1rem;
$green: #1C4A21;
$aquamarine: #75FFCD;
$pink: #FFCAD4;
$claret: #750D37;
$yellow: #FCE709;
$fontSize: 14px;
$fontSizeNavbar: 20px;

// Styling the dropdown image when the user is logged in
#loggedInDropdown{
  display: flex;
  flex-wrap: wrap;
  margin-left: 130px;
  #loginIcon{
    width: 30px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
  }
}

// Classes that should not be visible to human eyes
.visually-hidden, #pw-alert{
  display: none;
  visibility: hidden;
}

// Styling the skip to content anchor
.skip-to-content{
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.skip-to-content:focus{
  clip:auto;
  height: auto;
  width: auto;
  position: absolute;
  overflow: auto;
}

// Styling the index cards
.index-cards{
  margin-top: auto;
}

// Styling the ticket cards
.ticket-card:hover{
  background-color: #888;
}
.text-muted:hover{
  color: white;
}


// Start of shopping cart button
.cart-items{
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 17px;
  height: 17px;
  border-radius: 30%;
}
// ---------------End of shopping cart button-----------------
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  transition: width 2s;
  background: rgba(172, 171, 170, 0.5);
  z-index: 9998;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 9999;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: width 2s;
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 769px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: $mainSpacing;
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: $mainSpacing;
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: $mainSpacing;
}
.div-amount{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  .item-amount {
    text-align: center;
  }
}

.remove-item {
  color: $claret;
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: $mainSpacing;
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */

/*----------------Start of Add More -----------------*/

.addMoreContainer{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .addMoreCenterItems{
    display: flex;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    .addMoreButton{
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 3px solid rgb(255, 187, 0);
      background-color: rgb(236, 236, 159);
      font-size: 20px;
      text-align: center;
      border-radius: 50%;
      transition: all 0.3s linear;
    }
    .addMoreButton:hover{
      cursor: pointer;
      font-size: 26px;
      font-weight: bolder;
      color: $green;
    }
    .addMoreButtonStore:hover{
      cursor: pointer;
      font-size: 26px;
      font-weight: bolder;
      color: $green;
    }
    .addMoreButtonStore{
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 3px solid rgb(255, 187, 0);
      background-color: rgb(236, 236, 159);
      font-size: 20px;
      text-align: center;
      border-radius: 50%;
      transition: all 0.3s linear;
    }
  }
}

/*----------------End of Add More -----------------*/

/*---------------- Navbar styling ------------------*/
.topNavbar{
  position: fixed;
  border-bottom: 3px solid $aquamarine;
  z-index:189;
  height: 100px;
  width: 100%;
  display: block;
  background-color: $claret;
  opacity: 0.7;
  top: 0;
  .navbar-brand img, svg{
    border-radius: 10px;
  }
  .navbar-nav .nav-link{
    font-size: $fontSizeNavbar;
    color: $yellow;
    transition: all 0.4s linear;
  }
  .navbar-nav .nav-link:hover{
    font-size: 26px;
  }
  .btn-outline-success{
    border-color: $aquamarine;
    color: $aquamarine;
    transition: all 0.3s linear;
  }
  .btn-outline-success:hover{
    background-color: $aquamarine;
    border-color: $green;
    color: $green;
  }
  .cart-btn{
    background-color: $yellow;
    .cart-items{
      position:absolute;
      border: 2px solid $green;
      background-color: $aquamarine;
      color: $green;
      top: 19px;
      right: 25px;
    }
  }
  .dropdown .dropdown-menu{
    background-color: $pink;
  }
  .dropdown .dropdown-menu hr{
    color: $green;
    height: 3px;
  }
  .dropdown .dropdown-menu a{
    background-color: $claret;
    color: $aquamarine;
    transition: all 0.3s linear;
  }
  .dropdown .dropdown-menu a:hover{
    font-weight: bolder;
  }
  
}

/*---------------- End of Navbar styling ------------------*/

/*---------------- Styling of the body ------------------*/
body{
  background-color:$green;
  font-size: $fontSize;
  main{
    position: relative;
    top: 100px;
    margin-bottom: 150px;
  }
  .breadcrumbNav{
    position: relative;
    top: 100px;
  }
  .indexHeading{
    color: $yellow;
    font-size: 30px;
  }
  .sidebar{
    border-right: 3px solid $pink;
    li{
      margin-right: 20px;
    }
    a{
      color: $pink;
      text-decoration: none;
    }
    a:hover{
      font-size: 16px;
    }
    h6{
      color: $yellow;
    }
  }
  #products, #showAnimalsPlants{
    .addMoreCenterItems{
      h6{
        color: $pink;
      }
    }
    .hrAddMore{
      width: 100%;
      color: $pink;
      height: 3px;
    }
  }
  .aboutusContainer{
    h1{
      color: $yellow;
    }
    p{
      color: $pink;
    }
  }
  .contactContainer{
    margin-bottom: 20px;
    section{
      border: 2px solid $pink;
      border-radius: 20px;
      padding: 10px;
      h3, h6{
        color: $yellow;
        margin-top: 10px;
      }
      p{
        color: $pink;
        margin-right: 20px;
        margin-left: 20px; 
      }
      label{
        color: $pink;
      }
      button{
        width: 50%;
        height: 30px;
        text-align: center;
        background-color: $claret;
        color: $aquamarine;
        border: 2px solid $aquamarine;
        border-radius: 20px;
        margin-top: 10px;
      }
      .nameInput{
        width: 100%;
      }
    }
  }
  .eventContainer{
    h3 a{
      color: $yellow;
      text-decoration: none;
    }
    h3 a:hover{
      cursor: pointer;
    }
    p{
      color: $pink;
    }
  }
  .ticketHeader{
    h1{
      color: $yellow;
    }
  }
  .institutionsMain{
    h1{
      color: $yellow;
    }
    #intitutionsContainer{
      h2, h3, h4, h5, h6{
        color: $pink;
      }
    }
    hr{
      color: $aquamarine;
    }
  }
}

/*---------------- End of body styling ------------------*/

/*---------------- Styling of the footer -------------------*/
.footer{
  .footerSeparator{
    color: $aquamarine;
    height: 3px;
  }
  .footer-links{
    margin-top: 50px;
    margin-bottom: 50px;
    .col-md-4{
      border-left: 3px dotted $aquamarine;
    }
  }
  .footer-rights{
    background-color: $claret;
    small{
      color: $yellow;
      font-size: 18px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }
  .listHeadings{
    font-size: 16px;
    font-weight: bold;
    color: $yellow;
  }
  .list-item a{
    text-decoration: none;
    list-style-type: none;
    color: $aquamarine;
    transition: all 0.3s linear;
  }
  .list-item a:hover{
    font-size: 16px;
    color: $pink;
  }
  blockquote{
    font-size: 20px;
    font-weight: bolder;
    color: $claret;
    position: relative;
    top: -110px;
    text-align: center;
  }
  .footer-links img{
    margin: auto;
  }
}

/*------------------- End of Footer styling ---------------------*/
