#loggedInDropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 130px;
}

#loggedInDropdown #loginIcon {
  width: 30px;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
}

.visually-hidden, #pw-alert {
  display: none;
  visibility: hidden;
}

.skip-to-content {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-to-content:focus {
  clip: auto;
  height: auto;
  width: auto;
  position: absolute;
  overflow: auto;
}

.index-cards {
  margin-bottom: 3vh;
  background-color: #1C4A21;
  border: 2px dashed #750D37;
  padding: 10px;
  border-radius: 15px;
}

.index-cards img {
  border-radius: 20px;
}

.index-cards h5 {
  color: #75FFCD;
}

.index-cards p {
  color: #FCE709;
}

.ticket-card:hover {
  background-color: #888;
}

.ticket-card:hover img {
  border-radius: 20px;
}

.cart-items {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 17px;
  height: 17px;
  border-radius: 30%;
}

/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  -webkit-transition: width 2s;
  transition: width 2s;
  background: rgba(172, 171, 170, 0.5);
  z-index: 9998;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 9999;
  background: #e7e2dd;
  padding: 1.5rem;
  -webkit-transition: width 2s;
  transition: width 2s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.showCart {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width: 769px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
}

.div-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.div-amount .item-amount {
  text-align: center;
}

.remove-item {
  color: #750D37;
  cursor: pointer;
}

/*---------- End of Cart Item -------------------- */
.cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
/*----------------Start of Add More -----------------*/
.addMoreContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.addMoreContainer .addMoreCenterItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addMoreContainer .addMoreCenterItems .addMoreButton {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 3px solid #ffbb00;
  background-color: #ecec9f;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.addMoreContainer .addMoreCenterItems .addMoreButton:hover {
  cursor: pointer;
  font-size: 26px;
  font-weight: bolder;
  color: #1C4A21;
}

.addMoreContainer .addMoreCenterItems .addMoreButtonStore:hover {
  cursor: pointer;
  font-size: 26px;
  font-weight: bolder;
  color: #1C4A21;
}

.addMoreContainer .addMoreCenterItems .addMoreButtonStore {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 3px solid #ffbb00;
  background-color: #ecec9f;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*----------------End of Add More -----------------*/
/*---------------- Navbar styling ------------------*/
.topNavbar {
  position: fixed;
  border-bottom: 3px solid #75FFCD;
  z-index: 189;
  height: 100px;
  width: 100%;
  display: block;
  background-color: #750D37;
  opacity: 0.7;
  top: 0;
}

.topNavbar .navbar-brand img, .topNavbar svg {
  border-radius: 10px;
}

.topNavbar .navbar-nav .nav-link {
  font-size: 20px;
  color: #FCE709;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.topNavbar .navbar-nav .nav-link:hover {
  font-size: 22px;
}

.topNavbar .btn-outline-success {
  border-color: #75FFCD;
  color: #75FFCD;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.topNavbar .btn-outline-success:hover {
  background-color: #75FFCD;
  border-color: #1C4A21;
  color: #1C4A21;
}

.topNavbar .cart-btn {
  background-color: #FCE709;
}

.topNavbar .cart-btn .cart-items {
  position: absolute;
  border: 2px solid #1C4A21;
  background-color: #75FFCD;
  color: #1C4A21;
  top: 19px;
  right: 25px;
}

.topNavbar .dropdown .dropdown-menu {
  background-color: #FFCAD4;
}

.topNavbar .dropdown #dropdownLoggedIn {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.topNavbar .dropdown .dropdown-menu hr {
  color: #1C4A21;
  height: 3px;
}

.topNavbar .dropdown .dropdown-menu a {
  background-color: #750D37;
  color: #75FFCD;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.topNavbar .dropdown .dropdown-menu a:hover {
  font-weight: bolder;
}

.topNavbar:hover {
  opacity: 1;
}

/*---------------- End of Navbar styling ------------------*/
/*---------------- Styling of the body ------------------*/
body {
  background-color: #1C4A21;
  font-size: 14px;
}

body main {
  position: relative;
  top: 100px;
  margin-bottom: 150px;
}

body .box-error {
  width: 70%;
  margin-left: 15%;
  border: 2px solid #FCE709;
  background-color: #FFCAD4;
  border-radius: 10px;
  position: absolute;
  z-index: 500;
  top: -200px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

body .box-error h3 {
  text-align: center;
  color: #750D37;
}

body .box-error p {
  text-align: center;
  margin-top: 15px;
  font-size: 2em;
}

body .box-error button {
  margin-left: 70%;
  width: 20%;
  height: 50px;
  background-color: #1C4A21;
  border: none;
  color: #75FFCD;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bolder;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes showErrorMessage {
  100% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
}

@keyframes showErrorMessage {
  100% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
  }
}

body .breadcrumbNav {
  position: relative;
  top: 100px;
}

@media screen and (max-width: 769px) {
  body .box-error {
    width: 96%;
    margin-left: 2%;
  }
  body .box-error p {
    font-size: 18px;
  }
}

body .indexHeading {
  color: #FCE709;
  font-size: 30px;
}

body .sidebar {
  border-right: 3px solid #FFCAD4;
}

body .sidebar li {
  margin-right: 20px;
}

body .sidebar a {
  color: #FFCAD4;
  text-decoration: none;
}

body .sidebar a:hover {
  font-size: 16px;
}

body .sidebar h6 {
  color: #FCE709;
}

body #products .addMoreCenterItems h6, body #showAnimalsPlants .addMoreCenterItems h6 {
  color: #FFCAD4;
}

body #products .hrAddMore, body #showAnimalsPlants .hrAddMore {
  width: 100%;
  color: #FFCAD4;
  height: 3px;
}

body .aboutusContainer h1 {
  color: #FCE709;
}

body .aboutusContainer p {
  color: #FFCAD4;
}

body .contactContainer {
  margin-bottom: 20px;
}

body .contactContainer section {
  border: 2px solid #FFCAD4;
  border-radius: 20px;
  padding: 10px;
}

body .contactContainer section h3, body .contactContainer section h6 {
  color: #FCE709;
  margin-top: 10px;
}

body .contactContainer section p {
  color: #FFCAD4;
  margin-right: 20px;
  margin-left: 20px;
}

body .contactContainer section label {
  color: #FFCAD4;
}

body .contactContainer section button {
  width: 50%;
  height: 30px;
  text-align: center;
  background-color: #750D37;
  color: #75FFCD;
  border: 2px solid #75FFCD;
  border-radius: 20px;
  margin-top: 10px;
}

body .contactContainer section .nameInput {
  width: 100%;
}

body .eventContainer h3 a {
  color: #FCE709;
  text-decoration: none;
}

body .eventContainer h3 a:hover {
  cursor: pointer;
}

body .eventContainer p {
  color: #FFCAD4;
}

body .ticketHeader h1 {
  color: #FCE709;
}

body .institutionsMain h1 {
  color: #FCE709;
}

body .institutionsMain #intitutionsContainer h2, body .institutionsMain #intitutionsContainer h3, body .institutionsMain #intitutionsContainer h4, body .institutionsMain #intitutionsContainer h5, body .institutionsMain #intitutionsContainer h6 {
  color: #FFCAD4;
}

body .institutionsMain hr {
  color: #75FFCD;
}

/*---------------- End of body styling ------------------*/
/*---------------- Styling of the footer -------------------*/
.footer .footerSeparator {
  color: #75FFCD;
  height: 3px;
}

.footer .footer-links {
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer .footer-links .col-md-4:nth-child(2), .footer .footer-links .col-md-4:last-child {
  border-left: 3px dotted #75FFCD;
}

.footer .footer-rights {
  background-color: #750D37;
}

.footer .footer-rights small {
  color: #FCE709;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer .listHeadings {
  font-size: 16px;
  font-weight: bold;
  color: #FCE709;
}

.footer .list-item a {
  text-decoration: none;
  list-style-type: none;
  color: #75FFCD;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer .list-item a:hover {
  font-size: 16px;
  color: #FFCAD4;
}

.footer blockquote {
  font-size: 20px;
  font-weight: bolder;
  color: #750D37;
  position: relative;
  top: -50%;
  text-align: center;
}

.footer .footer-links img {
  margin: auto;
  background-size: cover;
  width: 100%;
}

/*------------------- End of Footer styling ---------------------*/
/*# sourceMappingURL=style.css.map */